<div class="card">
  <div class="image-container">
    <img [src]="imageUrl" alt="Product Image" class="product-image" />
    <button class="add-to-cart">Add to Cart</button>
  </div>
  <div class="card-body">
    <h3 class="product-name">{{ productName }}</h3>
    <p class="price">${{ price }}</p>
    <div class="color-options">
      <div class="color-container">
        <div
          *ngFor="let color of colors"
          class="color"
          [ngStyle]="{
            'background-color': color,
            'border-color': selectedColorName == color ? 'white' : ''
          }"
          (click)="onColorClick(color)"
        ></div>
      </div>
      <div class="color-name" *ngIf="selectedColorName">
        {{ selectedColorName }}
      </div>
      <div>test</div>
    </div>
  </div>
</div>
