<nav>
  <a routerLink="/"
    ><img
      src="https://verona.primeng.org/assets/layout/images/logo-light.png"
      alt="logo"
      class="nav-logo"
  /></a>
  <div class="nav-title-search">
    <p class="nav-title">E-Commerce Web</p>
    <div class="nav-search">
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input type="text" pInputText placeholder="Search" />
      </p-iconField>
    </div>
  </div>
</nav>

<!-- <div id="main">
  <div style="background-color:coral;">1</div>
  <div style="background-color:lightblue;">2</div>
  <div style="background-color:pink;">3</div>
</div> -->
